@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');


@font-face {
    font-family: wulkan-med;
    src: url(font-voyage/WulkanDisplayMedium.ttf);
}
@font-face {
    font-family: WulkanDisplay-med-ital;
    src: url(font-voyage/WulkanDisplayRegular.ttf);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images-histoire/6e939fa3d09dea7df85dec85d68ae150.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
ul{
    list-style-type: none;
}
a:visited{
    color: #FFF;
    text-decoration: none;
}
a:link{
    color: #FFF;
    text-decoration: none;
}
/********************               NAVBAR             *************************/
/********************************************************************************/
/********************************************************************************/    
header{
    position: sticky;
}
nav{
    width: 100%;
    font-weight: 900;
    position: fixed;
    justify-content: center;
    transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
}
.menu_container {
    width: 100%;
    display: flex;
    letter-spacing: 2px;
    letter-spacing: 2px;
    font-weight: 900;
    min-height: 7vh;
    backdrop-filter: Blur(4px);
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);
    justify-content: center;
    align-items: center;
}
.navbar_head .sub_menus a{
    color: #222e50;
}
.navbar_head .sub_menus a:hover{
    color: #FCCB06;
}
#img-logo {
    width: 3%;
}
.menu_container{
    backdrop-filter: Blur(4px);
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);

}
.active_nav {
    background-color: rgba(34, 46, 80, .96);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}
.active_nav .nav_links a,
.active_nav .logo {
    color: #ffffff;
}
.active_nav .nav_links a:hover {
    color: #fff;
}
#menu {
	color: #FFF;
	height: 5%;
	padding-left: 18px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 49px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
    text-shadow: 2px 2px 5px black;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 3%;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 12px;
    text-shadow: 2px 2px 5px black;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul, a:hover {
    background-color: rgba(0, 0, 0, .2);
	backdrop-filter: Blur(5px);
    border-radius: 8px;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out color;
}
#img-logo {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-44 {
    background-color: #222e50;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  background-color: #FCCB06;  
  border-bottom-style: none;
  border-color: #dadada;
}

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 532;
    font-size: 15px;
    color: #222e50;
    background-color: #0066cc00;
    padding: 10px 30px;
    border: solid #222e50 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;

}

.btn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #222e50;
    color: #ffffff;
    border: solid 2px #222e50;

}


/*#############################################################################
###############################        Section 1        #######################
##############################################################################*/


.background_1{
    color: #FFF;
    height: 30%;
    font-family: wulkan-med;
    font-size: 44px;
}
.title_s1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_s1 h2{
    margin-top: 6%;
    text-shadow: 2px 2px 5px black;
}
.s2{
    background-color: #FFF;
}
.color_s2{
    background-color: #dadada;
    height: 40px;
}
.intro_s2{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}
.box_warpper_s2{
    margin-left: 20%;
    margin-right: 20%;
}
.box_s2_1 h3{
    text-transform: uppercase;
    font-family: wulkan-med;
    font-size: 38px;
    letter-spacing: normal;
    margin-bottom: 10px;
}
#location_s2{
    font-weight: 300;
}
.sub_box_s2_1 {
    display: flex;
    gap: 60px;
    margin-top: 1.2%;
}
.box_s2_1 {
    margin-bottom: 8%;
}
.img_s2_1 {
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.img_s2_1 img {
    width: 100%;
    height: 100%;
}
.para_s2_1 {
    width: 48%;
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
    justify-content: space-evenly;
}
.para_s2_1{
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
    padding: 32px 24px 24px 24px;
}
.para_s2_1:hover{
    transition : 900ms;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 45%);
}
#btn {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.title_s2_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-icons.md-42 { 
    font-size: 42px;
    color: #222e50; 
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 40
  }
.material-icons.md-42:hover{
    color: black;
}

/********************           SECTION FOOTER         *************************/
/********************************************************************************/
/********************************************************************************/    

footer{
    background-color: #222e50;
    color: #FFF;
    height: 35%;
}
.container_footer{
    margin-left: 20%;
    margin-right: 20%;
}
.box_warpper_foot{
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}
.box_foot_1 h4,.box_foot_2 h4{
    text-transform: uppercase;
    color: #FCCB06;
    font-size: 12px;
}
.box_foot_1 ul,.box_foot_2 p{
    font-family: wulkan-med;
    font-size: 24px;
}
.box_foot_1 ul{
    padding: 0;
}
.box_foot_3 h4{
    font-size: 12px;
    text-transform: uppercase;
}
.box_sub_foot_3{
    display: flex;
    gap: 35%;
}
