@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');


@font-face {
    font-family: wulkan-med;
    src: url(font-voyage/WulkanDisplayMedium.ttf);
}
@font-face {
    font-family: WulkanDisplay-med-ital;
    src: url(font-voyage/WulkanDisplayRegular.ttf);
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images-martinique/martinique-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
ul{
    list-style-type: none;
}
a:visited{
    color: #FFF;
    text-decoration: none;
}
a:link{
    color: #FFF;
    text-decoration: none;
}

/********************               NAVBAR             *************************/
/********************************************************************************/
/********************************************************************************/    
nav{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 900;
}
#img-logo img{
    width: 12%;
}
#menu {
	color: #FFF;
	height: 5%;
	padding-left: 18px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 49px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 3%;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 12px;
}
#menu li:hover ul.sub-menus {
	display: block
}

#img-logo {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-44 {
    background-color: #222e50;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  background-color: #FCCB06;  
  border-bottom-style: none;
  border-color: #dadada;
}

/********************           SECTION PLAGES          *************************/
/********************************************************************************/
/********************************************************************************/    

#container_s1 {
    padding-top: 12%;
    display: flex;
    align-content: center;
    color: #FFF;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}
.box_warpper_s1 {
    display: flex;
    justify-content: center;
    align-content: center;
}
.box_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.box_1 h5{
    font-size: 16px;
    width: 50%;
}
.box_1 h2{
    font-size: 72px;
    font-family: wulkan-med;
    width: 50%;
}
.s1 {
    height: 93%;
  }

/********           SECTION S2          ********/
/**
/*                                             */    


.plages{
    background-color: #222e50;
    color: #FFF;
}
.container_s2 {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}

.box_2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    
  }
.box_2 h2{
    font-family: wulkan-med;
    font-size: 54px;
    margin-bottom: 0%;
}
.box_2 h6{
    font-size: 26px;
    font-weight: 700;
    color: #FCCB06;
    margin-bottom: 2%;
}
.box_2 p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
}
.box_warpper_s2 {
    display: flex;
    flex-wrap: wrap;
}
.box_warpper_s2 h4{
    font-size: 20px;
    margin: 1%;
}
.box_3, .box_4, .box_5, .box_6, .box_7, .box_8, .box_9, .box_10 {
    width: 50%;
    text-align: center;
}
.box_3 img, .box_4 img, .box_5 img, .box_6 img, .box_7 img, .box_8 img, .box_9 img, .box_10 img{
    width: 50%;
    border-radius: 10px;
}
.box_1 p,.box_3 p,.box_4 p,.box_5 p,.box_6 p,.box_7 p,.box_8 p,.box_9 p,.box_10 p{
    margin: 1%;
    text-transform: uppercase;
}


/********************           SECTION PLONGES          *************************/
/********************************************************************************/
/********************************************************************************/    

.plonges{
    height: 90%;
    background-color: #edf7f6;
}
.box_s3-2 img,.box_s3-3 img,.box_s3-4 img,.box_s3-5 img,.box_s3-6 img{
    width: 100%;
    border-radius: 10px;
}

.box_warpper_s3{
    display: flex;
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
}
.box_s3-2,.box_s3-3,.box_s3-4,.box_s3-5,.box_s3-6{
    margin-right: 1%;
}

/******************* BOX ********************/

.box_s3-2{
    position: relative;
    
}
#superpose_title_s3-2 {
    position: absolute;
    bottom: 43%;
    color: #ffffff;
    margin: 4%;
    font-family: wulkan-med;
    font-size: 19px;
  }
#superpose_para_s3-2 {
    position: absolute;
    bottom: 8%;
    color: rgb(255 255 255 / 95%);
    width: 92%;
    margin: 4%;
    font-weight: 300;

}
.box_s3-3{
    position: relative;
}
#superpose_title_s3-3 {
    position: absolute;
    bottom: 43%;
    color: #ffffff;
    margin: 4%;
    font-family: wulkan-med;
    font-size: 19px;
  }
#superpose_para_s3-3 {
    position: absolute;
    bottom: 8%;
    color: rgb(255 255 255 / 95%);
    width: 92%;
    margin: 4%;
    font-weight: 300;
}
.box_s3-4{
    position: relative;
}
#superpose_title_s3-4 {
    position: absolute;
    bottom: 43%;
    color: #ffffff;
    margin: 4%;
    font-family: wulkan-med;
    font-size: 19px;
  }
#superpose_para_s3-4 {
    position: absolute;
    bottom: 8%;
    color: rgb(255 255 255 / 95%);
    width: 92%;
    margin: 4%;
    font-weight: 300;
}
.box_s3-6{
    position: relative;
}
#superpose_title_s3-6 {
    position: absolute;
    bottom: 43%;
    color: #ffffff;
    margin: 4%;
    font-family: wulkan-med;
    font-size: 19px;
  }
#superpose_para_s3-6 {
    position: absolute;
    bottom: 8%;
    color: rgb(255 255 255 / 95%);
    width: 92%;
    margin: 4%;
    font-weight: 300;
}
.box_s3-5{
    position: relative;
}
#superpose_title_s3-5 {
    position: absolute;
    bottom: 43%;
    color: #ffffff;
    margin: 4%;
    font-family: wulkan-med;
    font-size: 19px;
  }
#superpose_para_s3-5 {
    position: absolute;
    bottom: 8%;
    color: rgb(255 255 255 / 95%);
    width: 92%;
    margin: 4%;
    font-weight: 300;
}
.box_s3-1{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.box_s3-1 h2{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 54px;
    text-transform: uppercase;
    font-family: wulkan-med;
    color: #222e50;
}
.box_s3-1 p{
    margin-bottom: 3%;
}


/*****************          SECTION FAUNE ET FLORE          *********************/
/********************************************************************************/
/********************************************************************************/  
.faune {
    height: 105%;
}
.box_warpper_faune{
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
    gap: -2%;
}
.box_faune_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
}
.box_faune_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
}
.box_faune_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
}
.box_faune_2 h3{
    font-size: 54px;
    font-family: wulkan-med;
    text-align: center;
    width: 60%;
    margin-bottom: 0%;
    color: #222e50;
}
.box_faune_2 i{
    font-family: WulkanDisplay-med-ital;
}
.box_faune_2 p,.box_faune_1 p,.box_faune_3 p{
    width: 60%;
    text-align: center;
    font-weight: 300;
    color: #222e50;
}
.btn{
    font-family: Roboto, sans-serif;
    font-weight: 532;
    font-size: 15px;
    color: #222e50;
    background-color: #0066cc00;
    padding: 10px 30px;
    border: solid #222e50 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;

}

.btn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #222e50;
    color: #ffffff;
    border: solid 2px #222e50;

}

/********************           SECTION RANDO          **************************/
/********************************************************************************/
/********************************************************************************/   

.containers_rando{
    margin-left: 15%;
    margin-right: 15%;
}
.title_rando{
    text-align: center;
}
.title_rando h4{
    font-size: 54px;
    font-family: wulkan-med;
}

/********************           SECTION CONTACT         *************************/
/********************************************************************************/
/********************************************************************************/    


.contact{
    background-color: #ADD5FF;
    color: #222e50;
    height: 40%;
}
.box_warpper_contact{
    padding-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
}
.box_contact_1{
    width: 35%;
}
.box_contact_1 h5{
    font-size: 34px;
    letter-spacing: 0.5px;
    font-family: wulkan-med;
}
.box_sub_contact_1{
    display: flex;
    align-items: center;
}

.box_contact_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: end;
    height: 50%;
}
.box_sub_contact_1{
    box-sizing: border-box;
    margin-top: 20%;
}
.custom-field {
    position: relative;
    font-size: 16px;
    padding-top: 32px;
    margin-bottom: 5px;
}
.custom-field input{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #8BAACC;
    padding: 12px;
    border-radius: 3px;
    width: 160%;
    outline: none;
    font-size: 14px;
}
.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% +10px);
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    transition: top 0.3s ease, 
        font-size 0.3s ease, 
        top 0.3s ease;
}
.custom-field input:valid + .placeholder,.custom-field input:focus + .placeholder{
    top: 10px;
    font-size: 10px;
    color: #222; 
}
#formulaire{
    margin-bottom: 12%;
}
/********************           SECTION FOOTER         *************************/
/********************************************************************************/
/********************************************************************************/    

footer{
    background-color: #222e50;
    color: #FFF;
    height: 35%;
}
.container_footer{
    margin-left: 20%;
    margin-right: 20%;
}
.box_warpper_foot{
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}
.box_foot_1 h4,.box_foot_2 h4{
    text-transform: uppercase;
    color: #FCCB06;
    font-size: 12px;
}
.box_foot_1 ul,.box_foot_2 p{
    font-family: wulkan-med;
    font-size: 24px;
}
.box_foot_1 ul{
    padding: 0;
}
.box_foot_3 h4{
    font-size: 12px;
    text-transform: uppercase;
}
.box_sub_foot_3{
    display: flex;
    gap: 35%;
}


