@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --aqua: #00ffff;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

/*header*/

header .headerimage {
    float: right;
}

header {
    background: linear-gradient(#13181d, #20212e, #341b47);
}
header nav {
    padding: 30px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: #00ffff;
}

header nav .right {
    display: flex;
    align-items: center;
}

header nav .right p {
    margin: 0 15px 0 0;
    color: #ccc;
}

header nav .right p:hover {
    color: #fff;
}

header nav .right button {
    padding: 5px 15px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid var(--aqua);
    color: var(--aqua);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s,  background-color 0.5s;
}

header nav .right button:hover{
    color: inherit;
    background-color: var(--aqua);
}

/*navigation menu */


.menu
{

  background: #341b47;
  border-radius: 6px;
}

.menu ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu ul li
{
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
}

.menu ul li a
{
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.menu ul li a:hover
{
  
  background: #341b47;
  border-radius: 6px;
}

.menu ul li ul
{
  display: none;
}

.menu ul li:hover ul
{
  display: block;
  position: absolute;
  margin-top: 5px;
  background: #341b47;
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
}

/*presentation page*/

.presentation {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentations {
    width: 100%;
    flex-shrink: 3;
}

.presentation h1 {
    margin: 0;
    font-size: 4vw;
    width: 80%;
}

.presentation p {
    font-weight: 300;
    color: #e9e9e9;
}

.presentations .small-images .small {
    margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.presentations .small-images .small img {
    
    width: 60%;
    height: 110%;
    border-radius: 15px;
    
}

.second {
    
    margin: 0% auto;
    background-color: #13181d;
}


.second .presentations text .new {
    color: var(--aqua);
    
}

/*p*/
.second .p1 {
    width: 100%;
    text-align: left;
    
}

.second .p2 {
    width: 100%;
    text-align: left;
}

.second .p3 {
    text-align: left;
    width: 100%;
}

.second .p4 {
    text-align: left;
    width: 100%;
}

.second .p5 {
    text-align: left;
    width: 100%;
}

.second .p6 {
    text-align: left;
    width: 100%;
}

.second .p7 {
    text-align: left;
    width: 100%;
}

.second .p8 {
    text-align: left;
    width: 100%;
}

.second .p9 {
    text-align: left;
    width: 100%;
}

.second .p9 {
    text-align: left;
    width: 100%;
}

/*image main box*/

.second .image1 {
    border-radius: 5px;
    width: 100%;
    height: 600px;
}

.second .image2 {
    border-radius: 5px;
    width: 100%;
    height: 500px;
}

.second .image3 {
    border-radius: 5px;
    width: 100%;
    height: 700px;
}

.second .image4 {
    border-radius: 5px;
    width: 100%;
    height: 700px;
}

.second .image5 {
    border-radius: 5px;
    width: 100%;
    height: 400px;
}

.second .image6 {
    border-radius: 5px;
    width: 100%;
    height: 600px;
}

.second .image7 {
    border-radius: 5px;
    width: 100%;
    height: 400px;
}

.second .image8 {
    border-radius: 5px;
    width: 100%;
}

.second .image9 {
    border-radius: 5px;
    width: 100%;
    height: 700px;
}

.second .image10 {
    border-radius: 5px;
    width: 100%;
    height: 700px;
}




/*links style*/

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

a:active {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/*footer*/

footer {
    margin: 0;
    padding: 60px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer h3 {
    color: var(--aqua);
}
footer p {
    color: #ccc;
}

footer p:hover {
    color: white;
}

footer .column-2 {
    position: relative;
    right: -42%;
}






