@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --aqua: #00ffff;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}
header {
    background: linear-gradient(#13181d, #20212e, #341b47);
}
header nav {
    padding: 30px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: #00ffff;
}

header nav .right {
    display: flex;
    align-items: center;
}

header nav .right p {
    margin: 0 15px 0 0;
    color: #ccc;
}

header nav .right p:hover {
    color: #fff;
}

header nav .right button {
    padding: 5px 15px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid var(--aqua);
    color: var(--aqua);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s,  background-color 0.5s;
}

header nav .right button:hover{
    color: inherit;
    background-color: var(--aqua);
}

.presentation {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentations {
    width: 100%;
    flex-shrink: 3;
}

.presentation h1 {
    margin: 0;
    font-size: 4vw;
    width: 80%;
}

.presentation p {
    font-weight: 300;
    color: #e9e9e9;
}

.presentations .small-images .small {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentations .small-images .small img {
    
    width: 60%;
    height: 110%;
    border-radius: 15px;
    
}

.second {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #13181d;
}

.second .presentations .new {
    color: var(--aqua);
    
}

.second .p1 {
    display: flex;
    align-items: flex-end;
}

.second .image2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    background-color: #00ffff;
}

  
  


footer {
    margin: 0;
    padding: 20px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3 {
    color: var(--aqua);
}
footer p {
    color: #ccc;
}

footer p:hover {
    color: white;
}







