:root {
    --color-primary: #ff00fb72;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  
}

header {
  display: flex;
  margin: 0;
  padding: 0;
  background: url(img/background-top.webp) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 640px;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px 0px;
  align-items: flex-start;
  flex-direction: row-reverse;
}
header.contact {
  display: flex;
  margin: 0;
  padding: 0;
  background: url(img/background-top-2.webp) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 640px;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px 0px;
  align-items: flex-start;
  flex-direction: row-reverse;
}
header.escapades {
  display: flex;
  margin: 0;
  padding: 0;
  background: url(img/koh-phi-phi.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 640px;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px 0px;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.menu-bar {
  background-color: #12001cbf;
  height: 100px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #12001cbf;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: #12001cbf;
}
div.logo {
  display: flex;
  width: 40%;
  height: 100%;
  /* background: #000000c9; */
 }
 section.logo {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
 }
 #logo {
    width: 80%;
    height: auto;
    color: #12001c;
 }
 #home {
  color: #12001c;
 }
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
  }
  div.A-main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    background: #12001c;
}
section.a-1-bandeau {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* background-color:black ; */
}
span.a-1-bandeau {
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 27px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    color: #551A8B;
    justify-content: center;
}

div.B-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.b-1 {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: row;
    align-items: center;
}
section.b-1-1 {
    display: flex;
    justify-content: center;
    width: 27%;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.442); */
    align-items: center;
}
span.b-1-1 {
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: normal;
    text-align: justify;
    color: #12001c;
    justify-content: center;
    padding: 7%;
    align-content: center;
    align-items: center;
}

p.b-1-1::first-letter {
  font-family: 'Rokkitt', serif;
  font-size: 630%;
  font-weight: bold;
  float: left;
  padding-right: 0.2em;
}
section.b-1-2 {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    /* background-color: black; */
}
img.b-1-2 {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 5%; 
    justify-content: center;
}
div.b-2 {
    display: flex;
    width: 75%;
    height: auto;
    /* background-color: beige; */
    padding: 1%;
    justify-content: space-evenly;
}
div.b-2-1 {
    display: flex;
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
    box-shadow: rgb(170 170 170) 1px 1px 12px 0px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
}
section.b-2-1-1 {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #6d9718; */
    justify-content: center;
    padding-top: 6%;

}
section.b-2-1-2 {
    display: flex;
    width: 86%;
    height: auto;
    /* background-color: #6d9718; */
    flex-direction: column;
}
span.b-2-1-2 {
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #12001c;
    /* background-color: deeppink; */
    justify-content: flex-start;
}
span.b-2-1-3 {
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900  ;
    color: #12001c;
    /* background-color: deeppink; */
    justify-content: flex-start;
}
/* <!-- ----------------------------------------------------------------------- -->

                             ESCAPADES

<!-- ----------------------------------------------------------------------- --> */


div.C-main {
  display: flex;
  width: 100%;
  height: auto;
  /* background-color: forestgreen; */
  flex-direction: column;
  align-items: flex-end;
}
div.c-1 {
  display: flex;
  width: 75%;
  color: #12001c;
  /* line-height: 5%; */
  height: 90%;
}
span.c-1 {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-decoration-line: overline;
  text-decoration-color: #551A8B;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  line-height: 20px;
  color: #12001c;
  align-items: center;
}
div.c-2 {
  display: flex;
  width: 75%;
  height: 90%;
  /* background-color: rgb(96, 86, 62); */
  flex-direction: column;
}
section.c-2 {
  display: flex;
  width: 50%;
  height: auto;
  /* background-color: aqua; */
}
#c-2 {
    display: flex;
    justify-content: flex-start;
    color: #12001c;
    width: 70%;
    height: 30px;
}
img.img-radius {
  width: auto;
  height: auto;
  box-shadow: none;
  border-radius: 5px;

}
div.c-3 {
  display: flex;
  width: 75%;
  height: 90%;
  /* background-color: rgb(255, 0, 0); */
}
span.c-3 {
  display: flex;
  width: 70%;
  padding: 1%;
  height: auto;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #12001c;
  margin-top: 3%;
  background-color: #12001c12;
}
img.img-radius {
  width: auto;
  height: auto;
  box-shadow: none;
  border-radius: 5px;
  background-color: #141d28;
}
div.c-4 {
  display: flex;
  width: 75%;
  height: 90%;
  /* background-color: rgb(255, 0, 0); */
}
section.c-4 {
  display: flex;
  width: 12%;
  height: 60px;
  border-radius: 3%;
  font-family: 'Roboto', sans-serif;
  background-color: #12001c;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
  align-items: center;
}
span.c-4 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
a.c-4 {
  text-decoration: none;
  color: #551A8B;
}


/* ////////-----------------------------------------------------------------------------//////// */


                                            /* PAGE CONTACT */


/* ////////-----------------------------------------------------------------------------//////// */





div.container {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 5% auto 5% auto;
  /* margin-top: 5%;
  margin-bottom: 5%; */
}
#contact {
  margin: 0 0 10% 0;

}
#fontwave  {
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #12001c;
  height: 30px;
  width: 100%;
  align-content: space-between;
  margin: 0 0 5% 0;
}  
#escapades  {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #12001c;
  width: 100%;
  margin: 5% 0 5% 0;
}  
input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label{
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type=submit] {
  background-color: #12001c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #551A8B;
}







































/* <!-- ----------------------------------------------------------------------- -->

                             FOOTER

<!-- ----------------------------------------------------------------------- --> */


 div.footer-final {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #12001c;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
 }
 div.f-copyright {
    height: 50px;
    width: auto;
 }
 span.f-copyright {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
 }
 div.f-copyright-1 {
    display: flex;
    height: 50px;
    align-items: center;
    /* margin-left: 8%;   */
 }
 div.f-copyright-2 {
    display: flex;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
 }
 section.f-img {
    display: flex;
    width: 18px;
    height: auto;
    margin-right: 4%;
 }
  